{% extends 'base.html' %}
{% load static %}

{% block title %}Tech · {{ BRAND_NAME }}{% endblock %}

{% block content %}
{# TODO: W1 — 아기 사자 작성 영역 #}
<link rel="stylesheet" href="{% static 'css/tech_list.css' %}">


<div class="tech-notes">
    <div class="tech-notes-inner">
        <div class="tech-notes-header">
            <div class="tech-notes-header-row">
                <div>
                    <div class="tech-notes-header-techNotes">TECH NOTES</div>
                    <div class="tech-notes-header-title">만들면서 배운 것들.</div>
                </div>
                <div class="tech-notes-header-search">
                    <span class="tech-notes-header-search-icon">⌕</span>
                    <input 
                        class="tech-notes-header-search-str" 
                        type="text" 
                        placeholder="search posts…"
                    >
                    <span class="tech-notes-header-search-btn">⌘K</span>
                </div>
            </div>
        </div>
        <div class="tech-notes-header-tag">

            <span class="tech-notes-header-tag-select">
                ALL
            </span>

            {% for category in categories %}
            <span class="tech-notes-header-tag-unselect">
                {{ category.label }}
            </span>
            {% endfor %}

        </div>
        <div class="tech-notes-content">

        {% for post in posts %}

        <a class="tech-notes-list" href="{{ post.get_absolute_url }}">

            <span class="tech-notes-list-date">
                {{ post.date_display }}
            </span>

            <div class="tech-notes-list-content">

                <div class="tech-notes-list-title">
                    {{ post.title }}
                </div>

                <div class="tech-notes-list-subtitle">
                    {{ post.subtitle }}
                </div>

                <div class="tech-notes-header-tag">

                    <span class="tech-notes-header-tag-select">
                        {{ post.category.label }}
                    </span>

                    {% for tag in post.tags.all %}
                    <span class="tech-notes-header-tag-unselect">
                        #{{ tag.label }}
                    </span>
                    {% endfor %}

                </div>

            </div>

            <div class="tech-notes-list-time">
                {{ post.read_minutes }} min
            </div>

        </a>

        {% endfor %}

    </div>
</div>
{% endblock %}
